[submodule "eigen"]
	path = deps/include/eigen
	url = https://github.com/libigl/eigen.git
[submodule "magnum-plugins"]
	path = magnum-plugins
	url = https://github.com/mosra/magnum-plugins.git
	
[submodule "magnum"]
	path = external/magnum
	url = https://github.com/mosra/magnum.git
	
[submodule "corrade"]
	path = external/corrade
	url = https://github.com/mosra/corrade.git
	