[submodule "eigen"]
	path = deps/include/eigen
	url = https://github.com/libigl/eigen
	
[submodule "magnum-plugins"]
	path = external/magnum-plugins
	url = https://github.com/mosra/magnum-plugins
	
[submodule "magnum"]
	path = external/magnum
	url = https://github.com/mosra/magnum
	
[submodule "corrade"]
	path = external/corrade
	url = https://github.com/mosra/corrade