[submodule "external/magnum"]
	path = external/magnum
	url = https://github.com/mosra/magnum.git
[submodule "external/magnum-integration"]
	path = external/magnum-integration
	url = https://github.com/mosra/magnum-integration.git
[submodule "external/magnum-plugins"]
	path = external/magnum-plugins
	url = https://github.com/mosra/magnum-integration.git
[submodule "external/corrade"]
	path = external/corrade
	url = https://github.com/mosra/corrade.git
[submodule "eigen"]
	path = external/eigen
	url = https://github.com/libigl/eigen.git
[submodule "spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git